.logo {
    padding: 10%;
}

.header {
    position: fixed;
    background: white;
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center; 
    padding-left: 1rem; 
    z-index: 2000;
}

.header .logo {
    font-size: 1.5rem; 
}

.header .nav {
    display: flex;
    padding-left: 5rem; 
    gap: 5rem;
}

.header .nav a {
    font-weight: bold;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
}